@import "/ui/_Theme.scss";

Speed {
    color: white;
    text-shadow: 0 2px 2px rgba( black, 0.25 );
    position: absolute;
    bottom: 300px;
    left: 50%;
    text-align: center;
    transform: translate( -50% );

    .inner {
        justify-content: center;
        align-items: center;

        text {
            width: 200px;
        }

        icon {
            font-size: 20px;
            margin-right: 4px;
        }
    }

    justify-content: center;
    align-content: center;
}
